body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #000
}

.offre {
    font-family: 'Roboto', sans-serif;
    color: white;
}


.background {
    background-image: url("/img/background-picture.png");
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}

.login {
    float: right;
    color: white;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.home {
    position: absolute;
    top: 25%;
    left: 40%;
    text-align: center;
}
.main-title {
    background-image: url("/img/logo2.png");
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 450px;
    height: 180px;
    margin-left: -80px;
}

.search {
    margin-top: 30px;
}

.button.big {
    width: 190px;
    margin-left: -70px;
}

.menu {
    height: 40px;
    background: rgba(251,172,54, 1);
}
.menu .title{
    margin-left: 10px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: white;
}

.menu .account {
    float: right;
}

.menu .logo {
    height: 50px;
}

.list {
}
.last-offers {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    padding-top: 15px;
    color: #FFF;
    margin-left: -20px;
}
.header-offer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: rgba(251,172,54, 1);
}


.card {
    width: 60%;
    padding: 0;
}

.card-content img {
    width: 100%;
    height: auto;
}

.card .card-footer {
    padding: 7px;
    background-color: white;
}

.card .title {
    color: white;
    font-size: 35px;
    position: absolute;
    bottom: 35;
    right: 10;
}

a.link.primary {
    color: rgba(251,172,54, 1);
}


.half {
    width: 48%;
    float: left;
    text-align: center;

}

.half.border{
    border-right: 3px solid rgba(251,172,54, 1);
}

.content {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.offre img {
    width: 30%;
}

.cherche {
    float: right;
    font-size: 40px;
    width: 65%;
}

.offer-content {
    margin-top: 40px;
}

.line {
    width: 100%;
    color: black;
}

.col_g {
    width: 30%;
    text-align: right;
    display: inline-table;
    padding-right: 20px;
    padding-bottom: 10px;
}

.col_d{
    width: 69%;
    text-align: left;
    display: inline-table;
    padding-left: 20px;
    border-left: 3px solid rgba(251,172,54, 1);
    padding-bottom: 10px;
}