body {
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.background {
    background-image: url("/img/background-picture.png");
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}

.login {
    float: right;
    color: white;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.home {
    position: absolute;
    top: 25%;
    left: 40%;
    text-align: center;
}
.title {
    background-image: url("/img/logo2.png");
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 450px;
    height: 180px;
    margin-left: -80px;
}

.search {
    margin-top: 30px;
}

.button.big {
    width: 190px;
    margin-left: -70px;
}

.menu {
    height: 40px;
    background: rgba(214,70,52, 1);
}
.menu .title{
    margin-left: 10px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: white;
}

.menu .account {
    float: right;
}

.list {
    margin: 30px;
}
.last-offers {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.header-offer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}


.card {
    width: 40%;
}

.half {
    width: 48%;
    float: left;
    text-align: center;
}