<div class="background">
    <div class="login">Se connecter</div>
    <div class="home">
        <div class="title">

        </div>
        <div class="search">
            <form class="form">
                <div class="group">
                    <input type="text" required="">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Recherche</label>
                </div>
            </form>
            <glu-button classes="'raised blue big'" text="'Je cherche mon dooble'" ng-click="navigate('list')"></glu-button>
        </div>
    </div>
</div>