<div class="menu">
    <img src="/img/logo2.png" class="logo" ng-click="navigate('/')"/>
    <div class="account"></div>
</div>
<div class="content">
    <div class="offre">
        <img class="profil_img" src="/img/offers/archi.jpg"/>
        <div class="cherche">Je cherche un job en partage avec du management </div>
        <div class="offer-content">
            <div class="ligne">
                <div class = "col_g"> A </div>
                <div class="col_d"> Paris </div>
            </div>
            <div class="ligne">
                <div class = "col_g"> Secteur d'activité</div>
                <div class="col_d"> Industrie pharmaceutique </div>
            </div>
            <div class="ligne">
                <div class = "col_g"> Compétences </div>
                <div class="col_d"> toto </div>
            </div>
            <div class="ligne">
                <div class = "col_g"> Expériences pro</div>
                <div class="col_d">
                   <p> -	2 ans consultant junior en organisation logistique </p>
                    <p>   -	2 ans consultant senior en organisation </p>
                   <p>  -	2 ans manager d’une équipe supply chain chez Renault </p>
                </div>
            </div>
            <div class="ligne">
                <div class = "col_g"> Pourquoi c'est cool de bosser avec moi </div>
                <div class="col_d">
                  <p>Je suis hyper organisé et engagé dans mon job. </p>
                    <p> J’aime l’innovation et les technos : je suis capable d’apporter des idées créatives. </p>
                    <p> Je veux faire du management car j’aime le contact humain et travailler en équipe.</p>
                </div>
            </div>
            <div class="ligne">
                <div class = "col_g"> Quand</div>
                <div class="col_d">
                   <p>  1 jour par semaine au choix </p>
                <p> A partir de janvier 2016 </p>
            </div>
            </div>
        </div>
    </div>
</div>