<div class="menu">
    <img src="/img/logo2.png" class="logo" ng-click="navigate('/')"/>
    <div class="account"></div>
</div>
<div class="background">
    <div class="list">
        <div class="last-offers">
            Nos dernieres offres
        </div>
            <div class="half border">
                <div class="header-offer">Je propose un job a partager</div>
                <div class="cards">
                    <div class="card card-z-1">
                        <div class="card-content">
                            <img src="/img/offers/archi.jpg"/>
                            <div class="title">Architecte</div>
                        </div>
                        <div class="card-footer"><a class="link primary" ng-click="navigate('offer')">voir l'offre</a></div>
                    </div>
                    <div class="card card-z-1">
                        <div class="card-content">
                            <img src="/img/offers/plantes.jpg"/>
                            <div class="title">Horticulteur</div>
                        </div>
                        <div class="card-footer"><a class="link primary" ng-click="navigate('offer')">voir l'offre</a></div>
                    </div>
                    <div class="card card-z-1">
                        <div class="card-content">
                            <img src="/img/offers/Marketing.jpg"/>
                            <div class="title">Développeur web</div>
                        </div>
                        <div class="card-footer"><a class="link primary" ng-click="navigate('offer')">voir l'offre</a></div>
                    </div>
                    <div class="card card-z-1">
                        <div class="card-content">
                            <img src="/img/offers/lentilles.jpg"/>
                            <div class="title">Ingénieur Optique</div>
                        </div>
                        <div class="card-footer"><a class="link primary" ng-click="navigate('offer')">voir l'offre</a></div>
                    </div>
                </div>
            </div>
            <div class="half">
                <div class="header-offer">Je cherche un job en partage</div>
                <div class="card card-z-1">
                    <div class="card-content">
                        <img src="/img/offers/mains.jpg"/>
                        <div class="title">Manager supply chain</div>
                    </div>
                    <div class="card-footer"><a class="link primary" ng-click="navigate('offer')">voir l'offre</a></div>
                </div>
                <div class="card card-z-1">
                    <div class="card-content">
                        <img src="/img/offers/plant.jpg"/>
                        <div class="title">Logistique</div>
                    </div>
                    <div class="card-footer"><a class="link primary" ng-click="navigate('offer')">voir l'offre</a></div>
                </div>
                <div class="card card-z-1">
                    <div class="card-content">
                        <img src="/img/offers/pouf.jpg"/>
                        <div class="title">Ingénieur énergie</div>
                    </div>
                    <div class="card-footer"><a class="link primary" ng-click="navigate('offer')">voir l'offre</a></div>
                </div>
                <div class="card card-z-1">
                    <div class="card-content">
                        <img src="/img/offers/terre.jpg"/>
                        <div class="title">Média planneur </div>
                    </div>
                    <div class="card-footer"><a class="link primary" ng-click="navigate('offer')">voir l'offre</a></div>
                </div>
            </div>
    </div>
</div>