<div class="menu">
    <div class="title">Dooble</div>
    <div class="account"></div>
</div>
<div class="list">
    <div class="last-offers">
        Nos dernieres offres
    </div>
        <div class="half">
            <div class="header-offer">Je propose un job a partager</div>
            <div class="cards">
                <div class="card card-z-1">
                    <div class="card-header">
                        <img src=""/>
                    </div>
                    <div class="card-footer"><a class="link primary">voir l'offre</a></div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="header-offer">Je cherche un job en partage</div>
            <div class="cards">
                <div class="card card-z-1">
                    <div class="card-header">content</div>
                    <div class="card-footer"><a class="link primary">voir l'offre</a></div>
                </div>
            </div>
        </div>

</div>
