
body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.home {
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
}
.title {
    font-size: 40px;
}
.title .sub-title {
    font-size: 20px;
    color: grey;
}
.search {
    margin-top: 50px;
}

.button.big {
    width: 190px;
}

.none, .cacher, #connexion:target ~ .montrer, .connexion  {
    display:none;
}
#connexion:target ~ .cacher, #connexion:target ~ .connexion {
    display:block;
}
